<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category label="2052">
      <setting id="auto_update_librtmp" type="bool" label="2058" visible="true" default="false"/>
      <setting id="force-shutdown" type="bool" label="2065" visible="true" default="false"/>
   </category>
   <category label="Android">
      <setting id="start_time" label="2062" type="slider" default="1" range="0,10" option="int" />
   </category>
   <category label="Linux">
      <setting id="force-openelec" type="bool" label="2055" visible="true" default="false"/>
	  <setting id="librtmp_path" type="text" label="Librtmp Path" default="" visible="False"/>
   </category>
   <category label="Mac OS">
	  <setting id="mac_bits" type="enum" label="2057" values="x86|x64" default="0"/>
	  <setting id="first_run" type="bool" label="Mac OS" default="true" visible="false"/>
	  <setting id="android_hack" type="bool" label="Android Hack" default="false" visible="false"/>
   </category>
</settings>
