########################################################
# http://www.ilive.to/channels
########################################################
@IF(@PARAM1@!=Channels)@
@IF(@PARAM1@!=Streams)@

########################################################
title=All
cfg=ilive.to.cfg@Channels
url=http://www.ilive.to/channels/?sort=1
########################################################
title=Movies
cfg=ilive.to.cfg@Channels
url=http://www.ilive.to/channels/Movies?sort=1
########################################################
title=Entertainment
cfg=ilive.to.cfg@Channels
url=http://www.ilive.to/channels/Entertainment?sort=1&lang=1
########################################################
title=Animation
cfg=ilive.to.cfg@Channels
url=http://www.ilive.to/channels/Animation?sort=1&lang=1
########################################################
title=News
cfg=ilive.to.cfg@Channels
url=http://www.ilive.to/channels/News?sort=1
########################################################
title=General
cfg=ilive.to.cfg@Channels
url=http://www.ilive.to/channels/General?sort=1&lang=1
########################################################
title=Sport
cfg=ilive.to.cfg@Channels
url=http://www.ilive.to/channels/Sport?sort=1

@ENDIF@
@ENDIF@

@IF(@PARAM1@==Channels)@

item_infos=<noscript><img.*?src="([^"]+)".*?/></noscript>.*?<a href="[^"]+live\.to([^"]+)"><strong>([^<]+)<
item_order=icon|url|title
#item_infos=<noscript><img.*?src="([^"]+)".*?/></noscript>\s*</a>\s*<a href="([^"]+)"><strong>((?!Adult|adult|xxx|XXX|Hot|Girls|Kim|VENUS|venus|18+|sex|SEX|porn|PORN)[^<]+)</strong></a>
#item_order=icont|url|title
item_skill=rss

item_info_name=cfg
item_info_build=ilive.to.cfg@Streams

item_url_build=http://www.streamlive.to%s


########################################################             
# next Page
########################################################             
item_infos=<p align="center" class="pages"><strong>Page: </strong><span style="font-size:13px">.*\s\d*\s<a href="([^"]+)">.*?</a></span></p>\s*</div>\s*<div class="rightcol">
item_order=url.tmp
item_skill=rss

item_info_name=title
item_info_build=*Next*

item_info_name=icon
item_info_build=sports.devil.image|next.png

item_info_name=url
item_info_from=url.tmp
item_info_convert=replace('%s','https','http')
item_info_build=%s

item_info_name=cfg
item_info_build=ilive.to.cfg@Channels


item_url_build=%s
########################################################       

@ENDIF@  

@IF(@PARAM1@==Streams)@

item_infos=(?:stream|i)live.to/embed/\s*(\d+)
item_precheck=live.to/embed
item_order=video
@CATCH(ilive,video)@

@ENDIF@
           

